h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

body {
    background-color: rgb(23, 168, 230);

}

.list   {
    text-align: center;
}

.image-container {
  text-align: center;
}