body {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%
}

div {
    width: 100%;
    background-color: gray;
    text-align: center;
    margin-top: -5px;
    padding: 0;
}

div img {
    display: inline-block;
    border-radius: 50%;
    border: 15px  solid #444;
    margin: 50px;
    width: 250px;
}